@import url(https://fonts.googleapis.com/css?family=Amatic+SC|Montserrat|Open+Sans);

#banner{
        font-family: 'Amatic SC', cursive;
        color: #2E2C2F;
        background-color: #D0E3C4;
        text-align: center;
       
}
.navbar{
        color: #F8FFF4;
        border-radius: 5px;
        background: #343F3E;
        text-align: center;
        
}
.nav-item{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    text-align: center;
}
.loginDropdown{
    text-align:center;
    color: #F8FFF4;
}
a {
    text-decoration: none; /* no underline */
}
a:hover {
    color: #FFFFFF;
    text-decoration: none;
}
img {
    width: 100%;
    height: auto;
}
.dropdown-menu  {
    color:#F8FFF4;
    background-color: #343a40;
    right: 0px !important;
    left: auto !important;
    text-decoration: none !important;
}
 .container-fluid{
      width: 105%
 }
#postContainer{
    color:#2E2C2F;
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 5px;
}
#sideWidgetBar{
    background-color: #343a40;
    color: #F8FFF4;
    border-radius: 5px;
    text-align: center;
    padding-top: 25px;
    padding-left: 5px;
    padding-right: 5px;
   }
h1{
        font-size: 5vw;
        font-family: 'Amatic SC', cursive;
        color: #2E2C2F;   
}
h2{
        font-size: 2vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
}
h3{
        font-size: 1.5vw;
        font-family: 'Montserrat', sans-serif;
        text-align: center;  
}
h4{
        font-size: 1.5vw;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
}
h5{
    font-size: 1vw;
    font-family: 'Open Sans', sans-serif;
    margin-left: 5%;
}

p{
        font-size: 1vw;
        font-family: 'Open Sans', sans-serif;
        color: #2E2C2F;
}
body{
        font-size: 1vw;
        font-family: 'Open Sans', sans-serif;
        color: #2E2C2F;
        background-color:#D0E3C4;
}

#footbannner{
        background-color: #2E2C2F;
        color: #F8FFF4;
        font-size: 1vw;
        font-family: 'Montserrat', sans-serif;
        border-radius: 1px;
        background: #73AD21;
        padding: 1px; 
    
}

:root {
    --input-padding-x: .75rem;
    --input-padding-y: .75rem;
    }
            
.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group > input,
.form-label-group > label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group > label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0; /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown) ~ label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}

p {
  align-content: center;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%; 
}

form {
    align-content: center; 
    padding: 60px 0;
}

button{
    color: white;
}

input{
    align-content: center;
}

.loginButton {
    background-color: #D0E3C4;
    color: black;
    align-content: center;
    margin-top: 10px;
}

.loginStyle {
    align-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-left: 20%;
    padding-right: 20%;

}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.hvr-fade {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.hvr-fade:hover, .hvr-fade:focus, .hvr-fade:active {
  background-color: #343F3E;
  color: white;
}

.keywords {
    padding-left: 10%;
    padding-right: 10%;
    color: grey; 
    background-color: white;
    border: black 2px solid
}

div#postContainer p {
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 5%;
    padding-right: 5%;
}

div#postContainer h2 {
    margin-top: 20px;
    margin-bottom: 20px;
}

div.blogPost img {
    max-width: 40%;
    padding-right: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}


#commentForm {
    padding: 20px;
    align-content: center;
}

#style1 {
  border:none;
  height: 20px;
 	width: 90%;
	height: 50px;
	margin-top: 0;
	border-bottom: 1px solid #1f1209;
	box-shadow: 0 20px 20px -20px #333;

}

/*div.blogPost p#keywords {
    background-color: #D0E3C4;
    text-align: center;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}*/

.dropdown1 {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.blogLink {
    text-align: center;
    color:  #696969;
}

.blogLink :hover {
    color: #343F3E;
    text-decoration: underline;
}

.archiveTitle {
    text-decoration: underline overline;
    text-align: center;
    background: #343F3E;
    color: white;
}

button.markup{
    color: black;
    background-color: #d1e3c5;
    margin-bottom: 10px;
    margin-top: 10px;
}


div.moderate{
    margin-left: 5%;
}

ul.wordCloud {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    margin-bottom: 100px;
}

ul.wordCloud li {
    margin: 0px;
    padding: 8px;    
    display: inline;
}
/*div.col-sm-2 {
    width: 100%;
}*/

h2.reactions {
    float: right;
    align-content: right;
}

h2.reactions img {
    width: 7%;
}